doctype html
html(lang='en', dir='ltr')
  head
    // new added
    // Material Design Lite
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js')
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css')
    // Material Design icon font
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    // new added ended

    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    link(rel='stylesheet', type='text/css', href='https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-core.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-service.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-ui.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-mapevents.js')
    style(media='screen').
       /*
      new style added */
      .demo-card-square.mdl-card {
      width: 200px;
      height: 200px;
      float: left;
      margin: 1rem;
      position: relative;
      }
      .demo-card-square.mdl-card:hover {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
      }
      .demo-card-square > .mdl-card__title {
      color: #fff;
      background: #03a9f4;
      }
      .demo-card-square > .mdl-card__accent {
      background: #ff9800;
      }
      body {
      padding: 20px;
      background: #fafafa;
      position: relative;
      }
      /*  */
      /* new style ended */
      body{margin-top:20px;
      /* background:#eee; */
      background-image: url("https://i.pinimg.com/originals/4d/ee/65/4dee65d05bdbe09c669afcecc9fd8b20.jpg");
      }
      .divider {
      height: 20px;
      display: block;
      }
      /* ========================================================================
      * FORM MISC
      * ======================================================================== */
      .input-group-addon {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      min-width: 39px;
      }
      .input-group-addon .ckbox, .input-group-addon .rdio {
      position: absolute;
      top: 4px;
      left: 10px;
      }
      .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      }
      .input-sm, .form-group-sm .form-control {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      }
      .form-control {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      }
      @media (max-width: 640px) {
      .form-inner-all [class*="col-"]:last-child .form-control {
      margin-top: 15px;
      }
      }
      /* ========================================================================
      * PROFILE
      * ======================================================================== */
      .profile-cover {
      width: 100%;
      }
      .profile-cover .cover {
      position: relative;
      border: 10px solid #FFF;
      }
      .profile-cover .cover .inner-cover {
      overflow: hidden;
      height: auto;
      }
      .profile-cover .cover .inner-cover img {
      border: 1px solid transparent;
      text-align: center;
      width: 100%;
      }
      .profile-cover .cover .inner-cover .cover-menu-mobile {
      position: absolute;
      top: 10px;
      right: 10px;
      }
      .profile-cover .cover .inner-cover .cover-menu-mobile button i {
      font-size: 17px;
      }
      .profile-cover .cover ul.cover-menu {
      padding-left: 150px;
      position: absolute;
      overflow: hidden;
      left: 1px;
      float: left;
      bottom: 0px;
      width: 100%;
      margin: 0px;
      background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
      }
      .profile-cover .cover ul.cover-menu li {
      display: block;
      float: left;
      margin-right: 0px;
      padding: 0px 10px;
      line-height: 40px;
      height: 40px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      }
      .profile-cover .cover ul.cover-menu li:hover {
      background-color: rgba(0, 0, 0, 0.44);
      }
      .profile-cover .cover ul.cover-menu li.active {
      background-color: rgba(0, 0, 0, 0.64);
      }
      .profile-cover .cover ul.cover-menu li a {
      color: #FFF;
      font-weight: bold;
      display: block;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      }
      .profile-cover .cover ul.cover-menu li a i {
      font-size: 18px;
      }
      .profile-cover .profile-body {
      margin: 0px auto 10px;
      position: relative;
      }
      .profile-cover .profile-timeline {
      padding: 15px;
      }
      .img-post{
      width:30px;
      height:30px;
      }
      .img-post2{
      width:50px;
      height:50px;
      }
    title
  body
    .container.bootstrap.snippets
      .row
        .col-lg-3.col-md-3.col-sm-4
          .panel.rounded.shadow
            .panel-body
              .inner-all
                ul.list-unstyled
                  li.text-center
                    img.img-circle.img-responsive.img-bordered-primary(data-no-retina='', src='http://bootdey.com/img/Content/avatar/avatar1.png', alt='John Doe')
                  li.text-center
                    h4.text-capitalize #{username}
                  li
                    br
                  li
                    .btn-group-vertical.btn-block
                      a.btn.btn-success.text-center.btn-block(href='/user/login') Log Out
          // /.panel
        .col-lg-9.col-md-9.col-sm-8
          .profile-cover
            .cover.rounded.shadow.no-overflow
              .inner-cover
                // Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only).
                img.img-responsive.full-width(src='https://i.pinimg.com/originals/58/bf/b4/58bfb4ecf2ec433b7900fe8c3b72bdac.jpg', alt='cover', style='max-height:200px;')
              ul.list-unstyled.no-padding.hidden-sm.hidden-xs.cover-menu
                li.active
                  a(href='/user/inbox')
                    i.fas.fa-inbox
                    span Inbox
                li
                  a(href='/user/wishList')
                    i.fas.fa-clipboard-check
                    span WishList
                li
                  a(href='/user/friends')
                    i.fas.fa-user-friends
                    span Friends
                li
                  a(href='/user/groups')
                    i.fa.fa-fw.fa-users
                    span Groups 
                li
                  a(href='/user/calendar')
                    i.far.fa-calendar-alt
                    span Calendar 
            // /.cover
            // /.profile-cover
            .divider
            //
              new added
            .row
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:28%') Hotels
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/hotels')
                      b(style='padding-left:5%') Find Hotels
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:5%') Transportation
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/transportation')
                      b(style='padding-left:5%') Go Somewhere
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:13%') Restaurants
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/restaurants')
                      b(style='padding-left:5%') Let's Eat
            .row
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:08%') Things-To-Do
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/thingsToDo')
                      b(style='padding-left:5%') Have Some Fun
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:20%') Previous Bookings
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/bookings')
                      b(style='padding-left:5%') See Bookings
              .col-md-4
                .mdl-card.mdl-shadow--2dp.demo-card-square
                  .mdl-card__title.mdl-card--expand
                    h2.mdl-card__title-text(style='padding-left:10%') Paying Guests
                  .mdl-card__supporting-text
                    i.fas.fa-hotel(style='font-size:50px ;padding-left:38%')
                  .mdl-card__actions.mdl-card--border
                    a.btn.btn-primary.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect.d-flex.justify-align-center(href='/user/payingGuests')
                      b(style='padding-left:5%') Meet Someone New
            // new added ended
            //
      .container
        .jumbotron(style='background: white')
          .row.d-flex.align-items-center
            .col-md-4
              i.fas.fa-location-arrow(style='font-size:200px')
              br
              p(style='padding-left:10%')
                b Location   History
            .col-md-8
              // new map
              #map(style='width: 100%; height: 400px; background: white ;border:1px solid black')
                script(type='text/javascript', charset='UTF-8').
                  /**
                  * Creates a new marker and adds it to a group
                  * @param {H.map.Group} group       The group holding the new marker
                  * @param {H.geo.Point} coordinate  The location of the marker
                  * @param {String} html             Data associated with the marker
                  */
                  function addMarkerToGroup(group, coordinate, html) {
                  var marker = new H.map.Marker(coordinate);
                  // add custom data to the marker
                  marker.setData(html);
                  group.addObject(marker);
                  }
                  /**
                  * Add two markers showing the position of Liverpool and Manchester City football clubs.
                  * Clicking on a marker opens an infobubble which holds HTML content related to the marker.
                  * @param  {H.Map} map      A HERE Map instance within the application
                  */
                  function addInfoBubble(map) {
                  var group = new H.map.Group();
                  map.addObject(group);
                  // add 'tap' event listener, that opens info bubble, to the group
                  group.addEventListener('tap', function (evt) {
                  // event target is the marker itself, group is a parent event target
                  // for all objects that it contains
                  var bubble =  new H.ui.InfoBubble(evt.target.getPosition(), {
                  // read custom data
                  content: evt.target.getData()
                  });
                  // show info bubble
                  ui.addBubble(bubble);
                  }, false);
                  //- addMarkerToGroup(group, {lat:22.716690, lng:92.297499},
                  //- '<div><a href=\'http://www.mcfc.co.uk\' >Manchester City</a>' +
                  //- '</div><div >City of Manchester Stadium<br>Capacity: 48,000</div>');
                  //- addMarkerToGroup(group, {lat:53.430, lng:-2.961},
                  //- '<div ><a href=\'http://www.liverpoolfc.tv\' >Liverpool</a>' +
                  //- '</div><div >Anfield<br>Capacity: 45,362</div>');
                  var placesdata = !{JSON.stringify(places).replace(/<\//g, "<\\/")};
                  for (i=0; i<placesdata.length; i++){
                    addMarkerToGroup(group, {lat:placesdata[i].place_lat, lng:placesdata[i].place_long},
                  `<div >${placesdata[i].place_name}</a></div>` +
                  `<div >${placesdata[i].place_review}<br>${placesdata[i].place_rating}</div>`);
                  }
                  }
                  /**
                  * Boilerplate map initialization code starts below:
                  */
                  // initialize communication with the platform
                  var platform = new H.service.Platform({
                  app_id: 'dae236E7GP8e4135Ko1M',
                  app_code: 'XXiZGEIPVrT9irLFEjgVxw',
                  useHTTPS: true
                  });
                  var pixelRatio = window.devicePixelRatio || 1;
                  var defaultLayers = platform.createDefaultLayers({
                  tileSize: pixelRatio === 1 ? 256 : 512,
                  ppi: pixelRatio === 1 ? undefined : 320
                  });
                  // initialize a map - this map is centered over Europe
                  var map = new H.Map(document.getElementById('map'),
                  defaultLayers.normal.map,{
                  center: {lat: 22.716690, lng: 92.297499},
                  zoom: 10,
                  pixelRatio: pixelRatio
                  });
                  // MapEvents enables the event system
                  // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
                  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
                  // create default UI with layers provided by the platform
                  var ui = H.ui.UI.createDefault(map, defaultLayers);
                  // Now use the map as required...
                  addInfoBubble(map);
                // map end
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
